/* ---------------layout ----------*/
 body{
    margin: 0;
    padding: 0;
 }

.header{
    margin: 50px;
    padding: 50px;
    
}

h1{
    padding: 40px;
    margin-top: -90px;
    float: left;
}

h1 ul li {
    float: left; 
    width: 100px;
    height: 150px; 
    margin-right: 150px; 
    margin-bottom: 140px;
    margin-top: 140px; 
    margin-left: 150px;
}



/* -----------cadastro ----------*/

.form{
    padding-left: 30px;
}

.caixa{
    border-radius: 20px;
}