/* -----------cadastro ----------*/

.form{
    padding-left: 30px;
}

.caixa{
    border-radius: 5px;
}

.imagem{
	
    widows: 10px;
    padding-right: 10px;
    float:left;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
    padding: 5px;
}

.cad{
	padding-left: 10px;
}

.postagem{
	padding: 10px;
	margin-bottom: 400px;
	background: rgb(255, 255, 255);
    
}

#btn{
	border-radius: 0px;
	background-color: #000000;
	color: white;
	padding: 1px 4px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#area-principal{
	padding: 15px;
	width: 920px;
	margin: 0 auto;
   
}

#area-postagens{
	width: 800px;
	float: left;
	border: 0px;
}
