/* ---------------layout ----------*/
 body{
    margin: 0;
    padding: 0;
    border: 0;
 }

.header{
    border: 10px solid white;
    margin: 0px;
    padding: 0px;
    
}

h3{
    border: 10px solid white;
    margin-top: 0px;
    float: left;
}

ul li{
    border: 10px solid white;
    margin-top: 0px;
    float:left;
    margin-left: 20em;
    text-align: center;
    
}

a{
    border: 10px solid white;
    text-decoration: none;
    color: rgb(80, 78, 78);
    
}

.login-user{
    padding: 10px;
    border: 10px solid white;
    float: right;
    margin-right: 150px;
    margin-left: 150px;
    margin: 0px;
    margin-top: -15px;
}

img{
    padding: 0px;
    margin-top: -10px;
    margin-bottom: 0px;
    float: right;
    border: 10px solid white;
    margin-left:50px;
   
}

footer{
    margin-top: 26em;
    border: 20px solid black;
    
}





